.navbar-brand{
    color:tomato;
    font-family: math;
    font-weight:600;
}
.logo-second-text{
    color:cyan;
}
.collapse .navbar-nav .nav-item .nav-link{

    font-weight:900;
    font-style:italic;
    color:pink;
    padding:0px 20px 0px 20px;
}

.collapse .navbar-nav .nav-item .nav-link:hover{
    border: 1px solid white;
    background-color: black;
    border-radius: 15px;
    padding: 2px 20px 2px 20px;
    color: white;
    margin-top:10px;
}
@media (min-width:300px) and (max-width:991px){
    .collapse .navbar-nav .nav-item .nav-link{
        margin-top: 20px;
        color:white;
        text-align: center;
    }
    
}
.header-navbar .navbar-expand-lg{
    background-color:darkblue!important;
    border-top:1px solid white;
    border-bottom:1px solid white;

}
.navbar-toggler{
    color:white;
    background-color:rgb(2, 0, 0);
}
.navbar-nav .nav-item a{
    font-family:"Segoe UI Symbol", "Noto Color Emoji";
}

.accordion-button {
    color:white;
    font-family:'cursive';
    font-size:25px;
}
li{

   font-family: Georgia, 'Times New Roman', Times, serif;
   text-decoration-style: none;
   list-style-type: none;
   font-weight: 500;
}
.carousel-inner img{

     width:100%;
}

.style-script-regular, h1, h3{
    font-family:cursive;
    font-weight: 600;
    font-style: normal;
  }

 .accordion .accordion-button{
     background-color:darkblue;
     height:30px;
     font-size:22px;
     border:none;
 }
 
 .img-our-team img{
     border-radius: 100%; 
     height: 50vh;
     border:4px solid #01060a;
 }

 @media (min-width:768px) and (max-width:1024px){
    .img-our-team img{
        width: 100%;
        height: 100%;
    }
 }


 .body{
   background-color: #fff;
   padding:15px 15px;
   border-radius: 10px;
 }
 
 .model{
   background-color: #e7e9eb;
 }

.footer-option{
  background-color: rgb(170, 25, 192);
  color:rgb(191, 199, 197);
  padding: 30px 0;
}

.service-option li:hover{
      color:white;
      cursor:pointer;
      font-size: 15px;
      
}
.contact-option li:hover{
    color:white;
    cursor:pointer;
    font-size: 15px;
}

.offices-option li:hover{
  color:white;
  cursor:pointer;
  font-size: 15px;
}

.logo-option img{
    width: 200px;
    height:200px;
    border-radius: 100%;
    border:2px solid white;
    padding:5px 5px;
}

.logo-option img:hover{
    opacity: 0.5;
    animation-delay: 2s;
    cursor:pointer;
}

.last-point{

    background-color: #88049c;
}

.details-option li{
     line-height: 1.2rem;
}
.accordion-body ul li strong{
     font-weight:400;
}

.img-manatent img{
  border-radius:100%;
  /* border:solid 20px black; */
    box-shadow: 0.5rem 0.5rem rgb(47, 75, 233), -0.5rem -0.5rem #ebda1d;
}

.contact-img{
    border-radius:100%;
    transition: width 2s, height 2s, transform 2s
}
.contact-img:hover{
    width: 300px;
    height: 300px;
    transform: rotate(360deg);
    cursor:pointer;
    transition-duration: 4s;
    border-radius: 0px;
}

.contact-item i{
   font-size:20px;
   border:2px solid black;
   border-radius: 100%;
   padding:10px;
}
.contact-head .contact-img{
     border:2px solid rgb(11, 2, 2);
     border-radius: 100%;
     padding:10px 10px;

}
@media (min-width:250px) and (max-width:400px){
    .contact-head .contact-img{
        width:200px;
    }
}
.contact-item i:hover{
    color:red;
    background-color: pink;
}
.pdf-button{
     border-radius: 20px;
     border:none;
     background-color: #0d6efd;
     color:white;
     font-weight:600;
     padding:4px 0px;
}
.chapterwise-button{
    margin-top:10px;
    border-radius: 20px;
     border:none;
     background-color: #0d6efd;
     color:white;
     font-weight:600; 
     padding: 4px 13px;
}
.observe-heading{
    color:#a5aeb8;
}
.observe-data .col-lg-3 div{
    margin-bottom: 22px;
}
.observe-data .col-lg-3 h5{
    font-weight:600;
}
.row ,.cources-items{
    padding-bottom:10px;
}
.cources-items .cources-item{
      border:3px solid white;
      background-color:#a5aeb8;
}
.cources-item img{
    /* transition: width 3s; */
    /* transition-delay: 1s; */
    /* transition: width 2s, height 2s, transform 2s; */
}
.cources-item img:hover{
    transition-timing-function: ease-in-out;
    border-radius:30px;
    border:2px solid white;
    transition-duration: .35s;
    padding:10px;
    cursor:pointer;
}
.slider-paragraph{
    font-weight: 900;
}
.edu-qualification ul li a{
    text-decoration:none;
}
.edu-qualification ul li h5{
    border-radius:20px;
    background-color:darkblue;
    font-size: 18px;
    padding: 5px 0px;
    font-family: inherit;
    transition:all 1s;
    color:lightgoldenrodyellow;
    border-top: 1px solid white;
    transition: all 1s;
}
.edu-qualification ul li h5:hover{
    border-radius:0px;
    padding:5px 0px;
    background-color:rgb(225, 94, 94);
    color:rgb(73, 234, 237);
     border-radius:3px;
}
.accordion-body.aos-init.aos-animate {
    background-color:black;
}
.carousel.pointer-event {
    margin-top:55px;
}
.carousel-inner img{
    margin-top:3px;
}
.theme-manage{
    margin-top:57px;
}
.theme-work .col-12{
    padding:0px;
    margin:0px;
    width:100%;
}
.navbar-toggler-icon {
        /* color: white; */
    /* background-color: white; */
    border-radius: 100%;
    border: 2px solid rgb(248, 245, 245);
}
.about-details li{
    margin-bottom:12px;
}
.about-details li i{
    padding-right: 7px;
    font-size: 16px;
    margin-right: 5px;
    color: #34b7a7;
    line-height: 0;
}
