li {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration-style: none;
    list-style-type: none;
    font-weight: 500;
}
.navbar-brand{
    color:tomato;
    font-family: math;
    font-weight:600;
}
.logo-second-text{
    color:cyan;
}
.collapse .navbar-nav .nav-item .nav-link{

    font-weight:900;
    font-style:italic;
    color:pink;
    padding:0px 20px 0px 20px;
}

.collapse .navbar-nav .nav-item .nav-link:hover{
    border: 1px solid white;
    background-color: black;
    border-radius: 15px;
    padding: 2px 20px 2px 20px;
    color: white;
    margin-top:10px;
}
@media (min-width:300px) and (max-width:991px){
    .collapse .navbar-nav .nav-item .nav-link{
        margin-top: 20px;
        color:white;
        text-align: center;
    }
    
}
.header-navbar .navbar-expand-lg{
    background-color:darkblue!important;
    border-top:1px solid white;
    border-bottom:1px solid white;

}
.navbar-toggler{
    color:white;
    background-color:rgb(2, 0, 0);
}
.navbar-nav .nav-item a{
    font-family:"Segoe UI Symbol", "Noto Color Emoji";
}

.accordion-button {
    color:white;
    font-family:'cursive';
    font-size:25px;
}
.skill-list li{
    line-height:31px;
    list-style:none;
    padding-left: 31px;
    padding-top:2px;
    padding-bottom:2px;
    transition: all 1s;
    font-weight: 400;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif!important;
}
.skill-list li:hover{
    background-color:darkcyan;
    color:white;
    font-weight:500;
    padding-left:0px;
    border-radius:2px;
    border-bottom:1px solid white;
}
.project-list{
    padding-left:0px;
}
li{
    list-style: none;
}
.project-list li{
    padding:5px 10px;
    margin-bottom:12px;
    list-style:none;
    padding-left: 15px;
    padding-top:2px;
    padding-bottom:2px;
}
.project-list li:hover{
    background-color:darkcyan;
    color:white;
    /* font-weight:500; */
    border-radius:2px;
}
.carousel-inner img{

     width:100%;
}

.style-script-regular, h1, h3{
    font-family:cursive;
    font-weight: 600;
    font-style: normal;
  }

 .accordion .accordion-button{
     background-color:darkblue;
     height:30px;
     font-size:22px;
     border:none;
 }
 
 .img-our-team img{
     border-radius: 100%; 
     height: 50vh;
     border:4px solid #01060a;
 }

 @media (min-width:768px) and (max-width:1024px){
    .img-our-team img{
        width: 100%;
        height: 100%;
    }
 }


 .body{
   background-color: #fff;
   padding:15px 15px;
   border-radius: 10px;
 }
 
 .model{
   background-color: #e7e9eb;
 }

.footer-option{
  background-color: rgb(170, 25, 192);
  color:rgb(191, 199, 197);
  padding: 30px 0;
}

.service-option li:hover{
      color:white;
      cursor:pointer;
      font-size: 15px;
      
}
.contact-option li:hover{
    color:white;
    cursor:pointer;
    font-size: 15px;
}

.offices-option li:hover{
  color:white;
  cursor:pointer;
  font-size: 15px;
}

.logo-option img{
    width: 200px;
    height:200px;
    border-radius: 100%;
    border:2px solid white;
    padding:5px 5px;
}

.logo-option img:hover{
    opacity: 0.5;
    animation-delay: 2s;
    cursor:pointer;
}

.last-point{

    background-color: #88049c;
}

.details-option li{
     line-height: 1.2rem;
}
.accordion-body ul li strong{
     font-weight:400;
}

.img-manatent img{
  border-radius:100%;
  /* border:solid 20px black; */
    box-shadow: 0.5rem 0.5rem rgb(47, 75, 233), -0.5rem -0.5rem #ebda1d;
}

.contact-img{
    border-radius:100%;
    transition: width 2s, height 2s, transform 2s
}
.contact-img:hover{
    width: 300px;
    height: 300px;
    transform: rotate(360deg);
    cursor:pointer;
    transition-duration: 4s;
    border-radius: 0px;
}

.contact-item i{
   font-size:20px;
   border:2px solid black;
   border-radius: 100%;
   padding:10px;
}
.contact-head .contact-img{
     border:2px solid rgb(11, 2, 2);
     border-radius: 100%;
     padding:10px 10px;

}
@media (min-width:250px) and (max-width:400px){
    .contact-head .contact-img{
        width:200px;
    }
}
.contact-item i:hover{
    color:red;
    background-color: pink;
}
.pdf-button{
     border-radius: 20px;
     border:none;
     background-color: #0d6efd;
     color:white;
     font-weight:600;
     padding:4px 0px;
}
.chapterwise-button{
    margin-top:10px;
    border-radius: 20px;
     border:none;
     background-color: #0d6efd;
     color:white;
     font-weight:600; 
     padding: 4px 13px;
}
.observe-heading{
    color:#a5aeb8;
}
.observe-data .col-lg-3 div{
    margin-bottom: 22px;
}
.observe-data .col-lg-3 h5{
    font-weight:600;
}
.row ,.cources-items{
    padding-bottom:10px;
    /* background-color: #91a6bc; */
}
.cources-items .cources-item{
    text-align: center!important;
    /* border:3px solid white; */

    background-color:#fbfcfd;
}
.cources-items .cources-item:hover{
    background-color:black;
    color:rgb(252, 236, 197);
}
.cources-item img{
    border-radius: 100%;
    width: 250px;
    height:50vh;
    text-align: center;
    justify-content: center;
    border: 4px solid rgb(0, 0, 0);
    margin-top:27px;
    transition: all 1s;
}
.cources-item img:hover{
    transition-timing-function: ease-in-out;
    cursor:pointer;
    border: 4px solid rgb(253, 249, 249);
}
.slider-paragraph{
    font-weight: 900;
}
.edu-qualification ul li a{
    text-decoration:none;
}
.edu-qualification ul li h5{
    border-radius:20px;
    background-color:darkblue;
    font-size: 18px;
    padding: 5px 0px;
    font-family: inherit;
    transition:all 1s;
    color:lightgoldenrodyellow;
    border-top: 1px solid white;
    padding-left:31px;
    transition: all 1s;
}
.edu-qualification ul li h5:hover{
    border-radius:0px;
    padding:5px 0px;
    background-color:rgb(225, 94, 94);
    color:rgb(73, 234, 237);
     border-radius:3px;
}
.accordion-body.aos-init.aos-animate {
    background-color:black;
}
.carousel.pointer-event {
    margin-top:55px;
}
.carousel-inner img{
    margin-top:3px;
}
.theme-manage{
    margin-top:57px;
}
.theme-work .col-12{
    padding:0px;
    margin:0px;
    width:100%;
}
.navbar-toggler-icon {
        /* color: white; */
    /* background-color: white; */
    border-radius: 100%;
    border: 2px solid rgb(248, 245, 245);
}
.about-details li{
    margin-bottom:12px;
}
.about-details li i{
    padding-right: 7px;
    font-size: 16px;
    margin-right: 5px;
    color: #34b7a7;
    line-height: 0;
}
.card2{
    position: relative;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
}
.our-work-row{
    background-color:#91a6bc;
    padding-bottom:35px;
}

/*page popup=========================*/
.admission{
    display: none;
}

.admission-popup{
    background-color: black;
    color:white;
    padding: 20px 20px;
    border: 1px solid lightgray;
    box-shadow: 0px 0px 10px darkgray;
    margin-top: 50px;
    width: 25%;
    /* height: 50hv; */
    height: 80vh;
    text-align: start;
    margin-left: 70%;
    position:fixed;
    justify-content: end;
    float:inline-end;
    overflow-y: scroll;
}

@media (min-width:865px) and (max-width:1085px){
    .admission-popup{
        width:25%;
        margin-left:70%;
    }
}
@media (min-width:559px) and (max-width:865px){
    .admission-popup{
        width:40%;
        margin-left:50%;
    }
}
@media (min-width:400px) and (max-width:559px){
    .admission-popup{
        width:70%;
        margin-left:20%;
    }
}
@media (min-width:250px) and (max-width:400px){
    .admission-popup{
        width:100%;
        margin-left:0%;
    }
}
/* .header .heading{
    display:block;
} */
.header .heading span{
    color:red;
    cursor:pointer;
    transition: all 0.35s;
    float: right;
    margin-top: -36px;
}
.header .heading  span:hover{
    color:yellow;
}
.header form div{
    margin-bottom: 10px;
    width: 100%;
}
.header form div input{
    width:100%;
    height:35px;
}
.header form div button{
    width: 100%;
    height: 36px;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    margin-bottom: 8px;

}
.header form div button:hover{
    border-bottom:1px solid white;
    color:white;
    font-weight: 400;
}
.header form div .submit-btn-popup{
    background-color: rgb(38, 38, 137);
    color: #69b5f8b3;
}
.header form div .call-btn{
    background-color: #659308;
    color: #c2ef68;
}
.header form div .whatsapp-btn{
    background-color: #28a228;
    color: #67f367;
}
/*End page popup  */
